--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
scikit-learn
numpy
fastapi
uvicorn
sqlalchemy
python-jose
passlib
werkzeug
python-multipart
PyPDF2
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
pytest
pytest-mock
requests
selenium
# python-dotenv